/* unvisited link */
a:link
 {
    color: #000000;
    text-decoration: none;
    font-family: "HPSimplified";
	font-size:120%;
 }

/* visited link */
a:visited
 {
    color: #000000;
    text-decoration: none;
    font-family: "HPSimplified";

 }

/* mouse over link */
a:hover
 {
    color: #0000FF;
    text-decoration: underline;
    font-family: "HPSimplified";
    font-size:115%;
 }

/* selected link */
a:active
 {
    color: #0000FF;
    font-family: "HPSimplified";
    text-decoration: underline;
 }
